[submodule "proto"]
	path = proto
	url = https://github.com/caplan/Meshtastic-protobufs.git
	branch = master
[submodule "sdk-nrfxlib"]
	path = sdk-nrfxlib
	url = https://github.com/nrfconnect/sdk-nrfxlib.git